@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_SignupLayout.cshtml";
}
@using (Html.BeginForm())
{
<div class="card-header">Twitter Clone Account Deleted Sucessfully</div>
<div class="card-body">
    <form>
        <div class="form-group">
            You have been removed from Twitter clone. All of you tweets and personal information is removed from our System.
        </div>
    </form>
    <div class="text-center">
        <input type="submit" value="Twitter Clone Home" formaction="Login" formmethod="get" class="btn btn-primary btn-block" />
    </div>
</div>

}